@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// font-family: 'Poppins', sans-serif;

$poppins: "Poppins", sans-serif;

$content-width: 1240px;

$main-transition: linear 200ms;

%hover-shadow {
  box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.25);
}

// colors
$font-black: #000;
$footer-black: #454545;
$font-white: #fff;
$blue: #6268ff;
$grey: #d9d9d9;
$red: #ff5b5b;
$tableItem-grayColor: rgb(240, 240, 240);
$tableItem-orangeColor: rgb(255, 235, 163);
$tableItem-greenColor: rgb(188, 255, 165);
$tableItem-grayHover: rgb(211, 211, 211);
$tableItem-orangeHover: rgb(249, 202, 132);
$tableItem-greenHover: rgb(144, 216, 119);