@import "../../../styles/variables.scss";
@import "../../../styles/reset.scss";

.select {
  background-color: $grey;
  transition: all 1s;
  width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-areas: "select";
}
.select {
  -moz-appearance: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../img/down-arrow.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 55%, 0 0;
  align-items: center;
  transition: all 0.5s;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  outline: none;
}

.select option {
  font-weight: normal;
}
.input__label {
  margin-top: 20px;
  font-family: $poppins;
  font-size: 20px;
  margin: 26px auto 15px auto;
  text-align-last: left;
}
