@import "../../styles/variables.scss";
.table {
    margin: 0 auto 61px auto;
    border-collapse: collapse;
    max-width: 1287px;
    width: 100%;
    border: 3px solid $font-black;
    border-radius: 28px;
    overflow: hidden;
    display: grid;
    grid-template: repeat(15, 58px) / repeat(7, 183px);
    grid-auto-flow: column;
}
