@import "../../styles/variables.scss";
.tableSection {
  // width: 100%;
  // max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;

}
.table__wrapper{  
  overflow: scroll; 
  width: 1400px; 
  height: 400px; 
  


}
.title {
  font-size: 32px;
  font-family: $poppins;
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 20px;
}
.title::after {
  width: 1296px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin-top: 17px;
  margin: 0 auto;
  margin-top: 14px;
}
.table {
  margin: 0 auto 61px auto;
  border-collapse: collapse;
  margin-top: 25px;
  overflow: hidden;
  display: grid;
  grid-template: repeat(15, 58px) / repeat(7, 183px);
  grid-auto-flow: column;
}

// .dataPicker {
//   width: 330px !important;
//   position: absolute;
//   top: 410px;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .tableButton {
//   font-size: 32px !important;
//   padding: 15px 31px !important;
//   border-radius: 59px !important;
//   transition: 200ms linear;
//   &:hover {
//     @extend %hover-shadow;
//   }
// }
.meet_text {
  font-family: $poppins;

  font-weight: 400;
  font-size: 16px;

  color: $font-black;
  margin-bottom: 6px;
}
.ul_item::after {
  width: 270px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin-bottom: 6px;
}
.ul_item {
  margin: 0 auto;
}
.table__wrapper {
  display: flex;
  // justify-content: space-between;
}
.btn_wrapper {
  width: 600px;  
  border-right: 2px solid black;
  height: auto;
  align-items: center;
}
.btn {
  background-color: $ligh_grey;
  border: 1px solid $dark_grey;
  border-radius: 16px;
  padding: 2px 14px;
  font-family: $poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: block;
  height: 30px;
}
.btn_wrapper2{
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 25px;
}
.input{
  width: 130px;
  height: 32px;
  padding: 15px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 16px;
  border-color: none;
  background-color: $ligh_grey;
  margin-top: 25px;
  margin-left: 15px;
}
.btn_input_wrapper{
  display: flex;
  margin-left: 36px;
  margin-top: 100px;
}